In [1]:
import pandas as pd
#python inference.py /home/junyoon/project/CSED538/data/DL20_34k/test --output_dir infer --model vit_large_patch32_384 --mean 0.485 0.456 0.406 --std 0.229 0.224 0.225 --num-classes 20 --checkpoint ./output/train/20210516-102451-vit_large_patch32_384-384/checkpoint-87.pth.tar

In [2]:
df = pd.read_csv("topk_ids.csv", names=["id","c","1","2","3","4"])
df.head(100)

            id   c   1   2   3   4
0   100011.png  10  12  16   8   5
1   100196.png  11  19  18   6   2
2   100334.png  14   9  11  19  10
3   100433.png  16   2   9   5   1
4   100500.png  13  16   0  15  14
..         ...  ..  ..  ..  ..  ..
95  106078.png  18   5   4  10  11
96  106102.png  18   7  10   8  11
97  106103.png  10   8   5  13   4
98  106156.png  15  14   8   1   0
99  106181.png   2  13  19  16  18

[100 rows x 6 columns]

In [3]:
m = {0:0, 1:1, 2:12, 3:13, 4:14, 5:15, 6:16, 7:17, 8:18, 9:19, 10:2, 11:3, 12:4, 13:5, 14:6, 15:7, 16:8, 17:9, 18:10, 19:11}
df = df.replace({"c":m})
id_list = [filename.split(".")[0] for filename in df["id"]]

In [4]:

submission = pd.DataFrame({"id": id_list, "Category": df["c"]})
submission.to_csv("submission.csv", index=False)

In [5]:
submission.head(20)

        id  Category
0   100011         2
1   100196         3
2   100334         6
3   100433         8
4   100500         5
5   100535        13
6   100587        17
7   100712         5
8   100792        19
9   100837         5
10  100869         7
11  100908        13
12  100985        18
13  101004         2
14  101041        18
15  101182         0
16  101269        16
17  101295         3
18  101297        16
19  101314        15